<div class="card mt-5 center-card border-0">
  <div class="card-body col-md-6">
    <h2 class="d-flex justify-content-center mb-5">Create a New Post</h2>
    <form class="form">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-control" id="post-title" />
      </div>
      <div class="form-group">
        <label for="post-text">Text</label>
        <textarea class="form-control" id="post-text" rows="10"></textarea>
      </div>
      <div class="d-flex justify-content-end mb-5">
        <button
          type="click"
          class="btn btn-primary post-btn btn mt-2"
        >Post</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/post.js"></script>